@using LoanData.ViewModels;

@{
    ViewData["title"] = "Member Register";
}

@model CreatingMemberViewModel


<style>
    .card {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://imagetolink.com/ib/AiQx0pIRKB.jpg");
        background-size: cover;
        background-position: center center;
    }
</style>

<body>
    <div class="card">
        <h3 class="card-header">@ViewData["title"]</h3>
        <form method="post" action="AddMember" class="card-body box-shadow rounded-2">
            <div class="form-control shadow border-0 mb-2 bg-opacity-25">
                <div class="mb-3">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Member.Name" placeholder="Your Name Here">
                </div>
                <div class="mb-3 d-flex justify-content-between gap-1">
                    <div class="col-6">
                        <label for="" class="form-label">NID</label>
                        <input type="text" class="form-control" asp-for="Member.NID" placeholder="Enter Your NID Number">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-11">Contact</label>
                        <input type="text" class="form-control" asp-for="Member.Phone" placeholder="Enter Your Phone Number">
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-5">
                        <label for="" class="form-label">Father Name</label>
                        <input type="text" class="form-control" asp-for="Member.FatherName" placeholder="Enter Father's Name">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Mother Name</label>
                        <input type="text" class="form-control" asp-for="Member.MotherName" placeholder="Enter Mother's Name">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label for="" class="form-label col-6">Date of Birth</label>
                    <input type="date" class="form-control text-secondary" asp-for="Member.DOB">
                </div>
                <div class="mb-3 d-flex justify-content-between gap-md-1">
                    <div class="col-6">
                        <label for="" class="form-label">Occupation</label>
                        <input type="text" class="form-control" asp-for="Member.Occupation" placeholder="i.e. Businessman">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label">Last Educational Degree</label>
                        <input type="text" class="form-control" asp-for="Member.Education" placeholder="i.e SSC">
                    </div>
                </div>
                <div class="mb-3 col-8">
                    <label for="" class="form-label">Institution</label>
                    <input type="text" class="form-control" asp-for="Member.Institute" placeholder="Last Educational Institution">
                </div>
            </div>
            <div class="form-control shadow border-0 mb-2">
                <div class="mb-3">
                    <label for="" class="form-label">Marital Status</label>
                    <select class="col-7 form-select text-secondary" asp-items="Model.MaritalStatus" asp-for="Member.MaritalStatus" id="maritalStatus">
                        <option value="0">-- Marital Status --</option>
                    </select>
                </div>
                <div class="mb-3 d-flex justify-content-between gap-2">
                    <div class="col-6">
                        <label for="" class="form-label">Spouse Name</label>
                        <input type="text" class="form-control toggle-field" asp-for="Member.SName" placeholder="Spouse Name" data-marital-status="Married" readonly>
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Occupation</label>
                        <input type="text" class="form-control toggle-field" asp-for="Member.SOccupation" placeholder="Spouse Occupation" data-marital-status="Married" readonly>
                    </div>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="" class="form-label col-6">Date Of Birth</label>
                    <input type="date" class="form-control toggle-field" asp-for="Member.SDOB" data-marital-status="Married" readonly>
                </div>
            </div>
            <div class="form-control shadow border-0 mb-2">
                <div class="mb-3">
                    <label for="" class="form-label">No. of Family Member/s</label>
                    <input type="number" class="form-control" asp-for="Member.TotalFamilyMember" placeholder="0" min="0">
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-5">
                        <label for="" class="form-label">Earning member of Family</label>
                        <input type="number" class="form-control" asp-for="Member.NoOfEarningMember" placeholder="0" min="0">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Monthly Salary</label>
                        <input type="text" class="form-control" asp-for="Member.MonthlyIncome" placeholder="Currency: Taka">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Submit Details</button>
        </form>
    </div>
</body>

@section Scripts{
    <script>
        $(document).ready(()=>{
            $(document).on('change', '#maritalStatus', function () {
                var selectedValue = $(this).val();
                var toggleFields = $('.toggle-field[data-marital-status="Married"]');

                if (selectedValue === 'Married') {
                    toggleFields.prop('readonly', false);
                } else {
                    toggleFields.prop('readonly', true);
                    toggleFields.val(null);
                }
            });
        })
    </script>
}