@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Member Register";
}

@model LoanData.Models.Member.MemberBase


<style>
    .card {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://imagetolink.com/ib/AiQx0pIRKB.jpg");
        background-size: cover;
        background-position: center center;
    }

    body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("https://imagetolink.com/ib/2lRIIHG5uD.jpg");
        background-size: cover;
        background-position: absolute;
    }
</style>

<body>
    <div class="card">
        <h3 class="card-header">@ViewData["title"]</h3>
        <form method="post" action="AddMember" class="card-body box-shadow rounded-2">
            <div class="form-control shadow border-0 mb-2 bg-opacity-25">
                <div class="mb-3">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Your Name Here">
                </div>
                <div class="mb-3 d-flex justify-content-between gap-1">
                    <div class="col-6">
                        <label for="" class="form-label">NID</label>
                        <input type="text" class="form-control" asp-for="NID" placeholder="Enter Your NID Number">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-11">Contact</label>
                        <input type="text" class="form-control" asp-for="Phone" placeholder="Enter Your Phone Number">
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-5">
                        <label for="" class="form-label">Father Name</label>
                        <input type="text" class="form-control" asp-for="FatherName" placeholder="Enter Father's Name">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Mother Name</label>
                        <input type="text" class="form-control" asp-for="MotherName" placeholder="Enter Mother's Name">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label for="" class="form-label col-6">Date of Birth</label>
                    <input type="date" class="form-control text-secondary" asp-for="DOB">
                </div>
                <div class="mb-3 d-flex justify-content-between gap-md-1">
                    <div class="col-6">
                        <label for="" class="form-label">Occupation</label>
                        <input type="text" class="form-control" asp-for="Occupation" placeholder="i.e. Businessman">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label">Last Educational Degree</label>
                        <input type="text" class="form-control" asp-for="Education" placeholder="i.e SSC">
                    </div>
                </div>
                <div class="mb-3 col-8">
                    <label for="" class="form-label">Institution</label>
                    <input type="text" class="form-control" asp-for="Institute" placeholder="Last Educational Institution">
                </div>
            </div>
            <div class="form-control shadow border-0 mb-2">
                <div class="mb-3">
                    <label for="" class="form-label">Marital Status</label>
                    <select class="form-select" asp-for="MaritalStatus">
                        <option selected>-- Marital Status --</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Divorced</option>
                    </select>
                </div>
                <div class="mb-3 d-flex justify-content-between gap-2">
                    <div class="col-6">
                        <label for="" class="form-label">Spouse Name</label>
                        <input type="text" class="form-control" asp-for="SName" placeholder="Spouse Name" readonly>
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Occupation</label>
                        <input type="text" class="form-control" asp-for="SOccupation" placeholder="Spouse Occupation" readonly>
                    </div>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="" class="form-label col-6">Date Of Birth</label>
                    <input type="date" class="form-control text-secondary" asp-for="SDOB" readonly>
                </div>
            </div>
            <div class="form-control shadow border-0 mb-2">
                <div class="mb-3">
                    <label for="" class="form-label">No. of Family Member/s</label>
                    <input type="number" class="form-control" asp-for="TotalFamilyMember" placeholder="0" min="0">
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-5">
                        <label for="" class="form-label">Earning member of Family</label>
                        <input type="number" class="form-control" asp-for="NoOfEarningMember" placeholder="0" min="0">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Monthly Salary</label>
                        <input type="text" class="form-control" asp-for="MonthlyIncome" placeholder="Currency: Taka">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Submit Details</button>
        </form>
    </div>
</body>