@using LoanData.ViewModels;

@model CreatingMemberViewModel



<style>
    .card {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://imagetolink.com/ib/AiQx0pIRKB.jpg");
        background-size: cover;
        background-position: center center;
    }
</style>

<body>
    <div class="card">
        <div class="card-header gap-2 d-flex align-items-center">
            <p class="mt-1">Profile NID:</p>
            <h3>@Model.Member.NID</h3>
        </div>
        <form method="post" action="EditDetails" class="card-body box-shadow rounded-2">
            <div class="form-control box-shadow border-0 mb-2">
                <div class="mb-3">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Member.Name">
                </div>
                <div class="mb-3 d-flex justify-content-between gap-1">
                    <div class="col-6">
                        <label for="" class="form-label">NID</label>
                        <input type="text" class="form-control" asp-for="Member.NID" readonly>
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-11">Contact</label>
                        <input type="text" class="form-control" asp-for="Member.Phone">
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-5">
                        <label for="" class="form-label">Father Name</label>
                        <input type="text" class="form-control" asp-for="Member.FatherName">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Mother Name</label>
                        <input type="text" class="form-control" asp-for="Member.MotherName">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label for="" class="form-label col-6">Date of Birth</label>
                    <input type="date" class="form-control text-secondary" asp-for="Member.DOB">
                </div>
                <div class="mb-3 d-flex justify-content-between gap-md-1">
                    <div class="col-6">
                        <label for="" class="form-label">Occupation</label>
                        <input type="text" class="form-control" asp-for="Member.Occupation">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label">Last Educational Degree</label>
                        <input type="text" class="form-control" asp-for="Member.Education">
                    </div>
                </div>
                <div class="mb-3 col-8">
                    <label for="" class="form-label">Institution</label>
                    <input type="text" class="form-control" asp-for="Member.Institute">
                </div>
            </div>
            <div class="form-control box-shadow border-0 mb-2">
                <div class="mb-3">
                    <label for="" class="form-label">Marital Status</label>
                    <select class="col-7 form-select text-secondary" asp-items="Model.MaritalStatus" asp-for="Member.MaritalStatus" id="maritalStatus">
                        <option value="0">-- Marital Status --</option>
                    </select>
                </div>
                <div class="mb-3 d-flex justify-content-between gap-2">
                    <div class="col-6">
                        <label for="" class="form-label">Spouse Name</label>
                        <input type="text" class="form-control toggle-field" asp-for="Member.SName" placeholder="Spouse Name" data-marital-status="Married" readonly>
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Occupation</label>
                        <input type="text" class="form-control toggle-field" asp-for="Member.SOccupation" placeholder="Spouse Occupation" data-marital-status="Married" readonly>
                    </div>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="" class="form-label col-6">Date Of Birth</label>
                    <input type="date" class="form-control toggle-field" asp-for="Member.SDOB" data-marital-status="Married" readonly>
                </div>
            </div>
            <div class="form-control box-shadow border-0 mb-2">
                <div class="mb-3">
                    <label for="" class="form-label">No. of Family Member/s</label>
                    <input type="number" class="form-control" asp-for="Member.TotalFamilyMember" min="0">
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-5">
                        <label for="" class="form-label">Earning member of Family</label>
                        <input type="number" class="form-control" asp-for="Member.NoOfEarningMember" min="0">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Monthly Salary</label>
                        <input type="text" class="form-control" asp-for="Member.MonthlyIncome">
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-success">Update Details</button>
                <a asp-action="Index" asp-controller="Member" class="btn btn-outline-secondary bi bi-backspace px-3 ms-2"> Back To List</a>
            </div>
        </form>
    </div>
</body>


@section Scripts{
    <script>
        $(document).ready(function () {
            
            $(document).on('change', '#maritalStatus', function () {
                var selectedValue = $(this).val();
                var toggleFields = $('.toggle-field[data-marital-status="Married"]');

                if (selectedValue === 'Married') {
                    toggleFields.prop('readonly', false);
                } else {
                    toggleFields.prop('readonly', true);
                    toggleFields.val(null);
                }
            });

            var selectedMaritalStatus = '@Model.Member.MaritalStatus';

            $('#maritalStatus').val(selectedMaritalStatus);

            $('#maritalStatus').change();

        });
    </script>
}
