html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("https://imagetolink.com/ib/AiQx0pIRKB.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    scrollbar-color: unset;
    scrollbar-width: thin;
    scrollbar-color: #888888 #ffffff;
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background-color: #888888;
}