@{
    ViewData["Title"] = "Loan Program";
}

<!DOCTYPE html>
<html lang="en">
<style>
    .card{
        transition: transform 0.3s ease;
    }
    .card:hover{
            transform: scale(1.03);
    }
</style>

<body>
    <div class="text-center">
        <h2 class="display-6 mb-4">Welcome</h2>
        <div class="d-flex justify-content-center gap-3 col-md-10 offset-1">
            <div class="card col-md-4 shadow">
                <img class="rounded-top" src="https://imagetolink.com/ib/OCJqUST5pA.jpg" alt="OCJqUST5pA" height="180" />
                <div class="card-body">
                    <h5 class="card-title">Loan in Smart Way</h5>
                    <p class="card-text small">We Offer Multiple types of Loans, with smart transaction Procedures.</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
            <div class="card col-md-4 shadow">
                <img class="rounded-top" src="https://imagetolink.com/ib/ks3qWv8cOT.jpg" alt="ks3qWv8cOT" height="180" />
                <div class="card-body">
                    <h5 class="card-title">Low Interest</h5>
                    <p class="card-text small">Our Loan provides with negotiably low interest.</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
            <div class="card col-md-4 shadow">
                <img class="rounded-top" src="https://imagetolink.com/ib/L5OY1SlJB8.jpg" alt="L5OY1SlJB8" height="180" />
                <div class="card-body">
                    <h5 class="card-title">Installment Return</h5>
                    <p class="card-text small">Loan can be refunded with multiple installment procedures according to their customers.</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
    </div>
</body>
</html>



