@using LoanData.Models.Member;


@model List<MemberBase>




<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Member Selection</h2>
            <span>-- Select a Member to Apply Loan --</span>
        </div>
        <a class="btn btn-outline-secondary btn-sm"
            asp-action="Index"
            asp-controller="Home">
            Back to Home
        </a>
    </div>
    <hr />
    <div class="card bg-transparent col-10 offset-1 text-center">
        <input class="rounded text-center py-2 col-8 offset-2" type="text" placeholder="-- Search Member --" />
        <hr />
        <div class="col-8 offset-2">
            <table class="table table-borderless table-striped mt-2 mb-4">
                <thead class="text-center border-bottom">
                    <tr>
                        <th>NID</th>
                        <th>Members</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var member in Model)
                    {
                        <tr>
                            <td>@member.NID</td>
                            <td>@member.Name</td>
                            <td>
                                <a class="btn btn-warning text-black"
                                    asp-action="PersonalLoan"
                                    asp-controller="Loan"
                                    asp-route-nid="@member.NID"
                                    asp-route-groupId="0">
                                    Plan Loan
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>