



<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Member Selection</h2>
            <span>-- Select a Member to Apply Loan --</span>
        </div>
        <a class="btn btn-outline-secondary btn-sm"
            asp-action="Index"
            asp-controller="Home">
            Back to Home
        </a>
    </div>
    <hr />
    <div class="card col-10 offset-1 text-center">
        <div class="col-8 offset-2 p-3">
            <table id="memberList" class="table table-borderless table-hover table-striped mt-2 mb-4">
                <thead>
                    <tr>
                        <th class="text-center">NID</th>
                        <th class="text-center">Members</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach(var member in Model)
                    {
                        <tr>
                            <td>@member.NID</td>
                            <td>@member.Name</td>
                            <td>
                                <a class="btn btn-warning text-black"
                                    asp-action="Index"
                                    asp-controller="Loan"
                                    asp-route-nid="@member.NID"
                                    asp-route-groupId="0">
                                    Plan Loan
                                </a>
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $(document).ready(function(){

            var table = $("#memberList").DataTable({

                ajax:{
                    url: "/api/members",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "nid"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "nid",
                        render: function(data){
                            return "<a class='btn btn-warning text-black' href='/Loan/MemberLoanGroupIndex?nid=" + data + "&groupId=0' > Proceed </a>"
                        }
                    }
                ]

            })

        })
    </script>
}


