@{
    ViewData["title"] = "Group Registration";
}

@model LoanData.ViewModels.GroupCreatingViewModel


<body>
    <div class="card col-lg-6 offset-3">
        <h3 class="card-header">@ViewData["title"]</h3>
        <div id="group-form" class="card-body box-shadow rounded-2">
            <div class="form-control box-shadow border-0 mb-2">
                <div class="col-sm-7 mb-3">
                    <input type="date" class="form-control" asp-for="CreatedAt" hidden>
                </div>
                <div class="mb-3 col-8">
                    <label for="" class="form-label d-flex" style="margin-bottom:-7px;">Group Name<p class="text-danger">*</p></label>
                    <input type="text" class="form-control" asp-for="NewGroupName" placeholder="Enter Group Name">
                    <span asp-validation-for="NewGroupName" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="" class="form-label d-flex" style="margin-bottom:-7px;">Location<p class="text-danger">*</p></label>
                    <input type="text" class="form-control" asp-for="GroupLocation" placeholder="i.e. Dhanmondi, Dhaka">
                    <span asp-validation-for="GroupLocation" class="text-danger"></span>
                </div>
                <div class="col-7 mb-3">
                    <label for="" class="form-label d-flex" style="margin-bottom:-7px;">Group Type<p class="text-danger">*</p></label>
                    <select class="col-7 form-select text-secondary" asp-items="Model.GroupTypeList" asp-for="GrouptypeId">
                        <option value="0">-- Select Group Type --</option>
                    </select>
                    <span asp-validation-for="GrouptypeId" class="text-danger"></span>
                </div>
                @*<div class="col-sm-6 mb-2">
                <label class="form-label col-6">Group Form Time</label>
                <input type="date" class="form-control" asp-for="Group.CreatedAt" readonly>
                </div>*@
            </div>
            <button id="group-submit-form" class="btn btn-outline-success">Submit Details</button>
        </div>
    </div>
</body>







@section Scripts{
    <script>
        $(document).ready(function () {

            var groupTypeId
            var groupName
            var groupLocation
            var groupCreationTime

            const details = ()=>{

                groupTypeId = $("#GrouptypeId").val()
                groupName = $("#NewGroupName").val()
                groupLocation = $("#GroupLocation").val()
                groupCreationTime = $("#CreatedAt").val()

            }
            
            $("#group-submit-form").on("click",function(){
                details()

                console.log(groupTypeId + " " + groupName + " " + groupLocation + " " + groupCreationTime)
                
                $.ajax({
                    type: "POST",
                    url: "/api/groups",
                    data: {
                        GrouptypeId: groupTypeId,
                        NewGroupName: groupName,
                        GroupLocation: groupLocation
                    },
                    datatype: "json",
                    success: function(response){

                        if(response.value){
                            var groupId = response.groupId
                            var newgroupTypeId = response.groupTypeId

                            console.log(groupId + " " + newgroupTypeId)

                            bootbox.alert(response.value,
                                () => window.location.href = "/Group/MemberWithGroup?groupId=" + groupId + "&groupTypeId=" + newgroupTypeId
                            )
                        }
                        else{
                            bootbox.alert("Group Named "+groupName+" already exists!")
                        }

                    },
                    error: function(response){
                        bootbox.alert(response.value)
                    }
                })
            })


        })
    </script>
}
